html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #E5E5E5;
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --white-color: #FFFFFF;
}

.text-h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.text-h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.text-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.text-p-previews {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    min-height: 740px;
    background-image: url(../img/first-screen-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__title {
    padding-top: 20px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    width: 60px;
    height: 60px;
}

.burger {
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: var(--white-color);
    margin-bottom: 4px;
}

.burger__line:last-child {
    margin-bottom: 0;
}

.h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    max-width: 734px;
    margin: 0 auto 16px;
    color: var(--white-color);
}

@media screen and (max-width: 380px) {
    .h1 {
        font-size: 46px;
        line-height: 64px;
    }
}

.h4 {
    font-weight: 400;
    max-width: 734px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}

.about {
    padding-top: 250px;
    min-height: 1080px;
    position: relative;
}

.info {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1110px;
    min-height: 300px;
    width: 100%;
    background-color: #f7f7f7;
    padding: 57px 130px;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.about__grid-item {
    text-align: center;
    width: 190px;
}

.about__h4 {
    color: var(--accent-color);
    font-size: 72px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.about__h5 {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

.about__p {
    color: var(--gray-color);
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 1280px) {
    .about__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .info {
        position: relative;
        padding: 30px 0;
    }

    .about__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.project-h2 {
    text-align: center;
    margin-bottom: 50px;
}

.about__flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.about__flex-item {
    max-width: 350px;
}

.project-img {
    margin-bottom: 45px;
}

.rectangle {
    width: 56px;
    height: 6px;
    background-color: var(--accent-color);
    margin-bottom: 14px;
}

.project-h3 {
    color: var(--dark-color);
    margin-bottom: 13px;
}

.project-p {
    color: var(--gray-color);
}

@media screen and (max-width: 1280px) {
    .about {
        padding: 450px 15px 110px 15px;
    }
}

@media screen and (max-width: 768px) {
    .about {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    .about__flex {
        flex-direction: column;
        align-items: center;
    }

    .about__flex-item {
        margin-bottom: 30px;
    }
}

.request {
    background-color: var(--accent-color);
    padding-top: 30px;
    padding-bottom: 40px;
}

.request__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request__flex-left {
    color: var(--white-color);
}

.request__h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    margin-bottom: 7px;
}

.request__h5 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.request__btn {
    margin-top: 20px;
    border: none;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    padding: 14px 30px;
}

.request__icon {
    margin-right: 15px;
}

@media screen and (max-width: 1280px) {
    .request {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .request__flex {
        flex-wrap: wrap;
    }
}

.services {
    padding: 150px 0;
}

.section__h2, .services__h4 {
    color: #000;
    text-align: center;
}

.section__h2 {
    margin-bottom: 55px;
}

.services__h4 {
    margin: 0 auto;
    max-width: 172px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}
.services__grid-item {
    padding: 59px 0;
    background-color: #f7f7f7;
    width: 350px;
}
.services__icon {
    margin: 0 auto 21px;
}

@media screen and (max-width: 1280px) {
    .services {
        padding-left: 15px;
        padding-right: 15px;
    }

    .services__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .services__grid-item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .services__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

.portfolio {
}
.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 0;
}

.portfolio__grid-item {
    height: 410px;
    overflow: hidden;
}

.portfolio__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1280px) {
    .portfolio__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .portfolio__grid-item {
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.question {
    padding-top: 146px;
    padding-bottom: 114px;
}

.question .section__h2 {
    margin-bottom: 48px;
}

.question_items {
}
.question_item {
}
.question_h3 {
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 16px;
}
.question_p {
    margin-bottom: 40px;
    color: var(--gray-color);
    max-width: 722px;
}

.question_h3.close {
    margin-bottom: 33px;
}

.question_h3.open::before, 
.question_h3.close::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../img/arrow-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 2px;
    margin-right: 15px;
}

.question_h3.open::before {
    transform: rotate(-90deg);
}

.question_h3.close + .question_p {
    display: none;
}

@media screen and (max-width: 1280px) {
    .question {
        padding: 150px 15px;
    }
}

.partners {
    padding-top: 100px;
    padding-bottom: 82px;
    background-color: var(--dark-color);
}

.partners__h2 {
    color: var(--white-color);
    text-align: center;
    margin-bottom: 50px;
}
.partners__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.partners__item {
    margin-right: 65px;
    margin-bottom: 20px;
}

.partners__item:nth-child(5n), .partners__item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1280px) {
    .partners__flex {
        justify-content: center;
    }

    .partners__item {
        margin-right: 20px;
        margin-left: 20px;
    }
}

.reviews {
    padding: 147px 0 140px;
}

.reviews__h2 {
    text-align: center;
    margin-bottom: 52px;
}
.reviews__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.reviews__grid-item {
}
.reviews__card {
    background-color: #f7f7f7;
    padding: 30px;
    margin-bottom: 34px;
}
.reviews__quote {
    font-size: 96px;
    color: var(--accent-color);
    font-weight: bold;
    line-height: 1;
    margin-bottom: -36px;
}

.text-accent {
    color: var(--accent-color);
}

.text-p-reviews {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

@media screen and (max-width: 1280px) {
    .reviews {
        padding: 100px 15px;
    }
    .reviews__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .reviews__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.contacts {
    padding: 100px 0 150px;
}

.contacts-h2 {
    text-align: center;
    margin-bottom: 60px;
}

.contacts__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.contacts__item {
    max-width: 255px;
    text-align: center;
}
.contacts__icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 13px;
}

.contacts__h3 {
    text-transform: uppercase;
    margin-bottom: 22px;
}

.contacts__h3-gray {
    color: var(--gray-color);
}

@media screen and (max-width: 1280px) {
    .contacts__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contacts__item {
        min-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contacts__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.footer {
    padding: 30px 0;
    background-color: var(--dark-color);
    color: var(--white-color);
}

.footer__flex {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
}

.footer__brand {
}

@media screen and (max-width: 1280px) {
    .footer {
        padding: 30px 15px;
    }
}

@media screen and (max-width: 768px) {
    .footer__flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px; 
    }
}




