html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
:root {
    --bg-color: #E5E5E5;
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --white-color: #FFFFFF;
}
.text-h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}
.text-h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.text-h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 21px;
}
.text-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.text-p-previews {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.header {
    min-height: 740px;
    background-image: url(../img/first-screen-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__title {
    padding-top: 20px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo {
    width: 60px;
    height: 60px;
}
.burger {
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: var(--white-color);
    margin-bottom: 4px;
}
.burger__line:last-child {
    margin-bottom: 0;
}
.h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    max-width: 734px;
    margin: 0 auto 16px;
    color: var(--white-color);
}
.h4 {
    font-weight: 400;
    max-width: 734px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    color: var(--white-color);
}
.about {
    padding-top: 250px;
    min-height: 1080px;
    position: relative;
}
.info {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1110px;
    min-height: 300px;
    width: 100%;
    background-color: #f7f7f7;
    padding: 57px 130px;
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}
.about__grid-item {
    text-align: center;
    width: 190px;
}
.about__h4 {
    color: var(--accent-color);
    font-size: 72px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.about__h5 {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}
.about__p {
    color: var(--gray-color);
    font-size: 18px;
    font-weight: 500;
}
.project-h2 {
    text-align: center;
    margin-bottom: 50px;
}
.about__flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.about__flex-item {
    max-width: 350px;
}
.project-img {
    margin-bottom: 45px;
}
.rectangle {
    width: 56px;
    height: 6px;
    background-color: var(--accent-color);
    margin-bottom: 14px;
}
.project-h3 {
    color: var(--dark-color);
    margin-bottom: 13px;
}
.project-p {
    color: var(--gray-color);
}
.request {
    background-color: var(--accent-color);
    padding-top: 30px;
    padding-bottom: 40px;
}
.request__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.request__flex-left {
    color: var(--white-color);
}
.request__h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    margin-bottom: 7px;
}
.request__h5 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}
.request__btn {
    text-decoration: none;
    color: #000;
    margin-top: 20px;
    border: none;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    padding: 14px 30px;
}
.request__icon {
    margin-right: 15px;
}
.services {
    padding: 150px 0;
}
.section__h2, .services__h4 {
    color: #000;
    text-align: center;
}
.section__h2 {
    margin-bottom: 55px;
}
.services__h4 {
    margin: 0 auto;
    max-width: 172px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}
.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}
.services__grid-item {
    padding: 59px 0;
    background-color: #f7f7f7;
    width: 350px;
}
.services__icon {
    margin: 0 auto 21px;
}
.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 0;
}
.portfolio__grid-item {
    height: 410px;
    overflow: hidden;
}
.portfolio__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.question {
    padding-top: 146px;
    padding-bottom: 114px;
}
.question .section__h2 {
    margin-bottom: 48px;
}
.question_h3 {
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 16px;
}
.question_p {
    margin-bottom: 40px;
    color: var(--gray-color);
    max-width: 722px;
}
.partners {
    padding-top: 100px;
    padding-bottom: 82px;
    background-color: var(--dark-color);
}
.partners__h2 {
    color: var(--white-color);
    text-align: center;
    margin-bottom: 50px;
}
.partners__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.partners__item {
    margin-right: 65px;
    margin-bottom: 20px;
}
.partners__item:nth-child(5n), .partners__item:last-child {
    margin-right: 0;
}

.reviews {
    padding: 147px 0 140px;
}

.reviews__h2 {
    text-align: center;
    margin-bottom: 52px;
}
.reviews__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.reviews__card {
    background-color: #f7f7f7;
    padding: 30px;
    margin-bottom: 34px;
}
.reviews__quote {
    font-size: 96px;
    color: var(--accent-color);
    font-weight: bold;
    line-height: 1;
    margin-bottom: -36px;
}
.text-accent {
    color: var(--accent-color);
}
.text-p-reviews {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}
.contacts {
    padding: 100px 0 150px;
}
.contacts-h2 {
    text-align: center;
    margin-bottom: 60px;
}
.contacts__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.contacts__item {
    max-width: 255px;
    text-align: center;
}
.contacts__icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 13px;
}
.contacts__h3 {
    text-transform: uppercase;
    margin-bottom: 22px;
}
.contacts__h3 a {
    color: inherit;
    text-decoration: none;
}
.contacts__h3-gray {
    color: var(--gray-color);
}
.footer {
    padding: 30px 0;
    background-color: var(--dark-color);
    color: var(--white-color);
}
.footer__flex {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .header__title {
        padding-left: 15px;
        padding-right: 15px;
    }
    .about__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .about {
        padding: 450px 15px 110px 15px;
    }
    .request {
        padding-left: 15px;
        padding-right: 15px;
    }
    .services {
        padding-left: 15px;
        padding-right: 15px;
    }

    .services__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .services__grid-item {
        width: 100%;
    }
    .portfolio__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .portfolio__grid-item {
        height: 640px;
    }
    .question {
        padding: 150px 15px;
    }
    .partners__flex {
        justify-content: center;
    }

    .partners__item {
        margin-right: 20px;
        margin-left: 20px;
    }
    .reviews {
        padding: 100px 15px;
    }
    .reviews__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .contacts__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contacts__item {
        min-width: 100%;
    }
    .footer {
        padding: 30px 15px;
    }
}

@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: none;
  }
}

nav .sidenav-trigger {
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 18px;
}
nav .sidenav-trigger i {
  height: 56px;
  line-height: 56px;
}
@media only screen and (max-width: 992px) {
  .sidenav.sidenav-fixed {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  .sidenav.sidenav-fixed.right-aligned {
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
  }
  .sidenav > a {
    padding: 0 16px;
  }
  .sidenav .user-view {
    padding: 16px 16px 0;
  }
  .modal {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
    .info {
        position: relative;
        padding: 30px 0;
    }

    .about__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .about {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    .about__flex {
        flex-direction: column;
        align-items: center;
    }

    .about__flex-item {
        margin-bottom: 30px;
    }
    .request__flex {
        flex-wrap: wrap;
    }
    .services__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .portfolio__grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .reviews__grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .contacts__grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer__flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px; 
    }
}

@media only screen and (min-width: 601px) {
  nav.nav-extended .nav-wrapper {
    min-height: 64px;
  }
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 64px;
    line-height: 64px;
  }
  .navbar-fixed {
    height: 64px;
  }
}

@media screen and (max-width: 380px) {
    .h1 {
        font-size: 46px;
        line-height: 64px;
    }
}

/* Materialize sidenav */


.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.sidenav .collapsible,
.sidenav.fixed .collapsible {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
  padding: 0;
}
.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}
.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
  line-height: inherit;
}
.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #fff;
}
.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px;
}
.sidenav {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
}
.sidenav.right-aligned {
  right: 0;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  left: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.sidenav .collapsible {
  margin: 0;
}
.sidenav li {
  float: none;
  line-height: 48px;
}
.sidenav li.active {
  background-color: rgba(0, 0, 0, 0.05);
}
.sidenav li > a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}
.sidenav li > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
  margin: 10px 15px;
}
.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-floating {
  color: #fff;
}
.sidenav li > a.btn-flat {
  color: #343434;
}
.sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
  background-color: #2bbbad;
}
.sidenav li > a.btn-floating:hover {
  background-color: #26a69a;
}
.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}
.sidenav .divider {
  margin: 8px 0 0 0;
}
.sidenav .subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}
.sidenav .subheader:hover {
  background-color: transparent;
}
.sidenav .user-view {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
}
.sidenav .user-view > a {
  height: auto;
  padding: 0;
}
.sidenav .user-view > a:hover {
  background-color: transparent;
}
.sidenav .user-view .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
  display: block;
}
.sidenav .user-view .circle {
  height: 64px;
  width: 64px;
}
.sidenav .user-view .name,
.sidenav .user-view .email {
  font-size: 14px;
  line-height: 24px;
}
.sidenav .user-view .name {
  margin-top: 16px;
  font-weight: 500;
}
.sidenav .user-view .email {
  padding-bottom: 16px;
  font-weight: 400;
}
.sidenav.sidenav-fixed {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: fixed;
}
.sidenav.sidenav-fixed.right-aligned {
  right: 0;
  left: auto;
}
.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #ee6e73;
}
.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
  color: #fff;
}
.sidenav .collapsible-body {
  padding: 0;
}
.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}
.breadcrumb i,
.breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"],
.breadcrumb i.material-icons {
  display: inline-block;
  float: left;
  font-size: 24px;
}
/* This is needed for some mobile phones to display the Google Icon font properly */
.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}
nav .brand-logo i,
nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}
nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-small > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
  height: inherit;
  line-height: inherit;
}
.input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #444;
}
.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: .3s color;
  transition: .3s color;
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
.dropdown-content li.divider {
  min-height: 0;
  height: 1px;
}
ul#slide-out:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}
ul#slide-out:not(.browser-default) > li {
  list-style-type: none;
}
#slide-out a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-effect img {
  position: relative;
  z-index: -1;
}
.waves-effect .waves-ripple {
  z-index: -1;
}
.z-depth-5, .modal {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

.modal:focus {
  outline: none;
}


.modal h1, .modal h2, .modal h3, .modal h4 {
  margin-top: 0;
}

.modal .modal-content {
  padding: 24px;
}

.modal .modal-close {
  cursor: pointer;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
}

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;
}

.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}

.materialboxed {
  display: block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-backface-visibility: hidden;
}
.materialboxed:hover:not(.active) {
  opacity: .8;
}

.materialboxed.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

#materialbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #292929;
  z-index: 1000;
  will-change: opacity;
}

.materialbox-caption {
  position: fixed;
  display: none;
  color: #fff;
  line-height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0% 15%;
  height: 50px;
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
}
.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}